title: Big Data Intelligence Lab
email: joycewhang88@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  The Big Data Intelligence lab at KAIST is led by Prof. Joyce Jiyoung Whang at the School of Computing. The group is engaged in fundamental research on diverse aspects of big data, with an emphasis on developing novel computational algorithms for massive and complex datasets.
baseurl: "/lab-website-demo" # the subpath of your site, e.g. /blog
url: "https://kjeemin21.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: None
github_username:  kjeemin21

# SEO Settings
author: "Joyce Jiyoung Whang"
keywords: "Big Data Intelligence, KAIST, Graph Machine Learning, Deep Learning, Data Mining, Big Data Analytics, Data Science, Research Lab"
language: "ko"

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
