<!DOCTYPE html>
<html lang="ko">
{% include head.html %}
<body>
    {% comment %}{% include color-palette.html %}{% endcomment %}
    {% include header.html %}
    {% include side-menu.html %}
    
    <main>
        {{ content }}
    </main>

    {% include footer.html %}
    
    <!-- Scroll to Top Button -->
    <button class="scroll-to-top" id="scrollToTop" aria-label="Scroll to top">
        <img src="{{ '/assets/images/icons/arrow_up_icon.svg' | relative_url }}" alt="Up" class="scroll-to-top-icon">
    </button>
    
    {% include scripts.html %}
</body>
</html>
